@import 'base';

.wrapper {
  align-items: center;
  background-color: var(--color-green);
  color: var(--color-white);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;

  &.inverted {
    background-color: var(--color-white);
    color: var(--color-green);
  }
}

.content {
  padding: 20px;

  @media (--viewport-md) {
    padding: 40px;
  }

  @media (--viewport-lg) {
    padding: 60px;
  }

  @media (--viewport-xlg) {
    padding: 80px;
  }
}

.logo {
  display: flex;
  font-size: 144px;
  letter-spacing: 5px;
  line-height: 1;
}

.exclamation {
  display: block;
  margin-left: 8px;
  transform: rotate(10deg);
}

.info {
  font-size: 24px;
  line-height: 1;
  text-align: center;
}
